<h1>Admin: Dashboard </h1>
<ul class="list-group" style="font-size:24px">
  <li class="list-group-item">
    <span class="badge" style="height:30px; font-size:20px"><%= @product_count %></span>
    # of <%= link_to 'Products', [:admin, :products] %>
  </li>
  <li class="list-group-item">
    <span class="badge" style="height:30px; font-size:20px"><%= @category_count %></span>
    # of Categories
  </li>
</ul>