<section class="categories-show">

  <header class="page-header">
    <h1>
      About Us
    </h1>
  </header>
<section>
<p>
This store is for the unique products that you will not find anywhere else. The best of the best is here. 
</p>
</section>
  

</section>
